html{
	font-family: Century Gothic;
}

footer{
font-family: Century Gothic;
font-weight: bold;

}
#imgfooter{

max-width: 04%;
margin-left: 50px;
margin-top: 10px;
/*background-color: white;*/
padding: 10px;

}
@media (max-width: 600px) {
#imgfooter{
	display: block;
	float: none;
	max-width: 50px;
margin-left: auto;
margin-right: auto;
} 